@media (max-width: 768px) {
    body {
        padding-top: 3rem;
    }
    main {
        margin-left: -1rem;
    }
    .flex-row {
        flex-direction: column;
        align-items: center; /* Opcional, para centralizar os itens */
    }
    .flex-row > div {
        width: 100%; /* Ajustar largura dos cards em telas menores */
        max-width: 300px; /* Opcional: limitar a largura máxima */
    }
}
